<settings>
   <proxies>
        <proxy>
            <active>true</active>
            <protocol>http</protocol>
            <host>proxy.uk1.group.internal</host>
            <username>uk1test\munusam</username>
            <password> Password1234$$</password>
            <port>80</port>                     
            <nonProxyhosts>localHost|127.0.0.1</nonProxyhosts>        
        </proxy>
    </proxies>
    <mirrors>
		<mirror>
			<id>HTTP</id>
			<name>HTTP Central</name>
			<url>http://repo.maven.apache.org/maven2</url>
			<mirrorOf>central</mirrorOf>
		</mirror>
	</mirrors>
	<profiles>
    <profile>
      <repositories>
        <repository>
          <id>0.0.1-SNAPSHOT</id>
          <name>0.0.1-SNAPSHOT</name>
          <releases>
            <enabled>false</enabled>
            <updatePolicy>always</updatePolicy>
            <checksumPolicy>warn</checksumPolicy>
          </releases>
          <snapshots>
            <enabled>true</enabled>
            <updatePolicy>never</updatePolicy>
            <checksumPolicy>fail</checksumPolicy>
          </snapshots>
          <url>https://repo.maven.apache.org/maven2</url>
          <layout>default</layout>
        </repository>
      </repositories>
    </profile>
  </profiles>
</settings>